<ion-header>
  <ion-toolbar>
    <ion-title>عرض الفاتورة</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-row>
<ion-col class="row-text"> الإدارة الرئيسية  </ion-col>
<ion-col class="row-text" >الفرع  </ion-col>

</ion-row>

<ion-row>
<ion-col class="row-text" > 12365478 </ion-col>
<ion-col class="row-text" > رقم الفاتورة </ion-col>
</ion-row>

<ion-row>
<ion-col class="row-text"> محمد أشرف </ion-col>
<ion-col class="row-text"> صاحب  الفاتورة </ion-col>
</ion-row>

<ion-row>
<ion-col class="row-text"> 500 </ion-col>
<ion-col class="row-text"> ربح الفاتورة  </ion-col>
</ion-row>

<ion-row class="facture_products">
        <ion-col> السعر </ion-col>
        <ion-col> العبوة </ion-col>
        <ion-col> الكمية </ion-col>
        <ion-col> المنتوج  </ion-col>
</ion-row>

<ion-row class="facture_products_details">
        <ion-col> 100 </ion-col>
        <ion-col> 20 </ion-col>
        <ion-col> 100 </ion-col>
        <ion-col> كوكا   </ion-col>
</ion-row>
<ion-row class="facture_products_details">
        <ion-col> 23 </ion-col>
        <ion-col> 56 </ion-col>
        <ion-col> 12 </ion-col>
        <ion-col> زيت  </ion-col>
</ion-row>
<ion-row class="facture_products_details">
        <ion-col> 50 </ion-col>
        <ion-col> 50 </ion-col>
        <ion-col> 45 </ion-col>
        <ion-col> لبن  </ion-col>
</ion-row>
</ion-content>
