<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>عرض الفاتورة</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="row-text"> {{client.branch}} </ion-col>
    <ion-col class="row-text">الفرع </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="row-text"> {{factureId}} </ion-col>
    <ion-col class="row-text"> رقم الفاتورة </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="row-text"> {{client.clientName}}  </ion-col>
    <ion-col class="row-text"> صاحب الفاتورة </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="row-text"> {{client.credit}} </ion-col>
    <ion-col class="row-text"> ربح الفاتورة </ion-col>
  </ion-row>

  <ion-row class="facture_products">
    <ion-col> السعر </ion-col>
    <ion-col> العبوة </ion-col>
    <ion-col> الكمية </ion-col>
    <ion-col> المنتوج </ion-col>
  </ion-row>

  <ion-row class="facture_products_details" *ngFor="let procurement of procurements">
    <ion-col> {{procurement.price}} </ion-col>
    <ion-col> {{procurement.type}} </ion-col>
    <ion-col> {{procurement.quantity}}  </ion-col>
    <ion-col> {{procurement.productName}} </ion-col>
  </ion-row>
</ion-content>
