.btn {
    border-radius: 10px;
    background-color: rgb(12, 12, 134);
    text-align: center;
}

ion-searchbar {
    text-align: end;
}

ion-button {
    margin-bottom: 1rem;
}

.filter-img {
    margin-top: 15%;
    border: #d5d8df;
    opacity: 30%;
    border-image-slice: 30%;
}

ion-col {
    text-align: right;
}

ion-select::part(icon) {
    display: none!important;
}

.acceuil {
    width: 30%;
    height: 15%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EFF2FF;
    border-color: deepskyblue;
    border-radius: 25.1852px;
}

.acceuil img{
    width: 30%;
    position: relative;
    margin: auto;
    transform: translateY(-50%, -50%);
}

h3 {
    text-align: center;
}
.test{
border: 1px solid #E9E9E9;
    box-shadow: 0px 0.728155px 3.64078px rgb(18 34 97 / 10%);
    border-radius: 5.82524px;
    width: 94%;
    margin: auto;
    margin-bottom: 8px;
    height:50px;
}
.contract-info {
  color: rgba(18, 34, 97, 0.5);
}
.row-data {
  background: #FFFFFF;
  box-shadow: 0px 1px 5px rgb(18 34 97 / 10%);
  border-radius: 8px;
  height: 60px;
  padding-top: 10px;
}
.search-btn {
  width: 94%;
  margin: auto;
  height: 43px;
  margin-bottom: 20px;
}
.filter{
  width: 94%;
    margin: auto;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 8px;
    height: 50px;
    margin-bottom: 7px;
    margin-top: 10px;
}
.label {

}
