<ion-header>
  <ion-toolbar>
    <ion-title>Appoinments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="bgwhite">
    <ion-row class="toprow">
      <ion-col class="vertical_centrC">
        06-06-2019
      </ion-col>
      <ion-col class="ion-text-end">
        04:00 pm
      </ion-col>
    </ion-row>
    <ion-row (click)="myFunction('1c')">
      <ion-col size="2" class="vertical_centr"><img src="assets/imgs/boy.png" alt="" class="userImg"></ion-col>
      <ion-col size="6" class="font_20 vertical_centrC">
        <div>
          <div>Dr. Manish Parmar</div>
          <div><small>Heart specialist</small></div>
        </div>
      </ion-col>
      <ion-col size="3" class="vertical_centr">
        250 SAR
      </ion-col>
      <ion-col size="1" class="vertical_centr">
        <ion-icon name="chevron-down-outline" class="font_25"></ion-icon>
      </ion-col>
    </ion-row>

    <div id="1c" class="notDisplay">
      <hr>
      <ion-row>
        <ion-col size="2" class="vertical_centr">
          <ion-icon name="navigate-outline" class="font_25"></ion-icon>
        </ion-col>
        <ion-col size="10" class="vertical_centrC">
          <div><small>591 Memorial Dr, Chicopee MA 1020 591 Memorial Dr, Chicopee MA 1020</small>
          </div>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col class="vertical_centr">
          <ion-button shape="round" class="appbtn">Change</ion-button>
        </ion-col>
        <ion-col class="vertical_centr">
          <ion-button shape="round" class="appbtn">Attend</ion-button>
        </ion-col>
        <ion-col class="vertical_centr">
          <ion-button fill="clear"> Cancel</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>
  <ion-card class="bgwhite">
    <ion-row class="toprow">
      <ion-col class="vertical_centrC">
        02-06-2019
      </ion-col>
      <ion-col class="ion-text-end">
        02:00 pm
      </ion-col>
    </ion-row>
    <ion-row (click)="myFunction('2c')">
      <ion-col size="2" class="vertical_centr"><img src="assets/imgs/boy.png" alt="" class="userImg"></ion-col>
      <ion-col size="6" class="font_20 vertical_centrC">
        <div>
          <div>Dr. Shruti Sharma</div>
          <div><small>Skin specialist</small></div>
        </div>
      </ion-col>
      <ion-col size="3" class="vertical_centr">
        250 SAR
      </ion-col>
      <ion-col size="1" class="vertical_centr">
        <ion-icon name="chevron-down-outline" class="font_25"></ion-icon>
      </ion-col>
    </ion-row>

    <div id="2c" class="notDisplay">
      <hr>
      <ion-row>
        <ion-col size="2" class="vertical_centr">
          <ion-icon name="navigate-outline" class="font_25"></ion-icon>
        </ion-col>
        <ion-col size="10" class="vertical_centrC">
          <div><small>591 Memorial Dr, Chicopee MA 1020 591 Memorial Dr, Chicopee MA 1020</small>
          </div>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col class="vertical_centr">
          <ion-button shape="round" class="appbtn">Change</ion-button>
        </ion-col>
        <ion-col class="vertical_centr">
          <ion-button shape="round" class="appbtn">Attend</ion-button>
        </ion-col>
        <ion-col class="vertical_centr">
          <ion-button fill="clear"> Cancel</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>

  <ion-card class="bgwhite">
    <ion-row class="toprow">
      <ion-col class="vertical_centrC">
        07-06-2019
      </ion-col>
      <ion-col class="ion-text-end">
        02:00 pm
      </ion-col>
    </ion-row>
    <ion-row (click)="myFunction('3c')">
      <ion-col size="2" class="vertical_centr"><img src="assets/imgs/boy.png" alt="" class="userImg"></ion-col>
      <ion-col size="6" class="font_20 vertical_centrC">
        <div>
          <div>Dr. Vikas Dave</div>
          <div><small>Eye specialist</small></div>
        </div>
      </ion-col>
      <ion-col size="3" class="vertical_centr">
        250 SAR
      </ion-col>
      <ion-col size="1" class="vertical_centr">
        <ion-icon name="chevron-down-outline" class="font_25"></ion-icon>
      </ion-col>
    </ion-row>

    <div id="3c" class="notDisplay">
      <hr>
      <ion-row>
        <ion-col size="2" class="vertical_centr">
          <ion-icon name="navigate-outline" class="font_25"></ion-icon>
        </ion-col>
        <ion-col size="10" class="vertical_centrC">
          <div><small>591 Memorial Dr, Chicopee MA 1020 591 Memorial Dr, Chicopee MA 1020</small>
          </div>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col class="vertical_centr">
          <ion-button shape="round" class="appbtn">Change</ion-button>
        </ion-col>
        <ion-col class="vertical_centr">
          <ion-button shape="round" class="appbtn">Attend</ion-button>
        </ion-col>
        <ion-col class="vertical_centr">
          <ion-button fill="clear"> Cancel</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>
</ion-content>