ion-content {
  --ion-background-color: #f6f6f6;
}
.bgwhite {
  background-color: #fff;
}
.toprow {
  border-radius: 4px 4px 0px 0px;
  background-color: #ed576b;
  color: #fff;
}
.userImg {
  border-radius: 50%;
  padding: 8px;
}
.appbtn {
  color: #fff;
  height: 30px;
  width: 75%;
}
.notDisplay {
  display: none;
}

