ion-content {
  --ion-background-color: #ffffff;
}

.logoImg {
  height: 102px;
  margin: auto;
  display: table;
}
// .signIn {
//   text-align: center;
//   font-size: 18px;
//   font-weight: 500;
//   border-bottom: 2px solid #266d33;
//   width: fit-content;
//   margin: auto;
// }
.valueInput {
  border-radius: 5px;
  margin: auto;
  display: table;
  height: 50px;
  text-align: right;
  padding-left: 60px;
  padding-right: 10px;
  font-size: 14px;
  margin-top: 15px;
  border: 1px solid #E9E9E9;
  width: 90%;
  color: #1D2D66 !important;
  font-weight: 600;
  background-color: #F8F8F8;

}

ion-icon {
  position: absolute;
  float: none;
}

.inputImg {
  position: absolute;
  float: right;
  width: 45px;
  height: 45px;
  text-align: left;
  left: 8%;
  top: 2px;
}

.forgot {
  font-size: 14px;
  color: #999;
  text-align: left;
  width: 85%;
  margin: auto;
  margin-top: 10px;
}
.create {
  font-size: 14px;
  color: #999;
  text-align: center;
  margin: auto;
  margin-top: 5px;
}

.signinBtn {
  margin: auto;
  display: table;
  height: 50px;
  font-size: 16px;
  text-transform: capitalize;
  border: 2px solid #1D2D66;
  width: 90%;
  border-radius: 5px;
  background-color: #1D2D66;
  color: #fff;
  font-weight: 700;
  box-shadow: 0px 0px 35px 3px rgba(224, 236, 236, 0.52);
}

// .social {
//   font-size: 14px;
//   color: #fff;
//   text-align: center;
//   width: 85%;
//   margin: auto;
//   margin-top: 5px;
// }

// .googleBtn {
//   height: 35px;
//   border-radius: 5px;
//   background-color: #ce362c;
//   color: #fff;
//   width: 70%;
//   float: right;
// }
// .fbBtn {
//   float: left;
//   width: 70%;
//   height: 35px;
//   border-radius: 5px;
//   background-color: #3b5999;
//   color: #fff;
// }
.medialogin {
  width: 85%;
  margin: auto;
}
.spancreate {
  color: #1D2D66;
  font-weight: 700;
  text-decoration: underline;
}
#title {
  color: #152C6A;
  margin-top: 10px;
  font-family: Poppins;
  font-size: 41.3103px;

}


#sub_title {
  margin-top: 10px;
  color: #505050;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 19.3103px;
  line-height: 28px;
  /* or 143% */

  letter-spacing: -0.331034px;
}


#welcome_title {
color: #1D2D66;
font-family: Swissra-Bold;
font-size: 36px;
line-height: 42px;
text-align: center;
text-transform: uppercase;
}
