<ion-content>
  <div class="medialogin">
  <p translate [translateParams]="{ lang: language }">tab1.invite</p>
    <br>
    <br>
    <ion-row>
    <ion-col size="6">
        <img src="assets/icon/logo.svg" class="logoImg" alt="">
    </ion-col>

    <ion-col size="6">

    </ion-col>

    </ion-row>
    <h1 class="center"> {{ 'HELLO' | translate }} </h1>
    <form >
      <div style="position: relative">
        <input type="text" name="username" placeholder="إسم المستخدم" class="valueInput" [(ngModel)]="loginData.email"/>
        <div class="inputImg vertical_centr">
          <img src="assets/imgs/user2.png" alt="" width="20px">
        </div>
      </div>

      <div style="position: relative">
        <input type="password" name="password" placeholder="كلمة المرور" class="valueInput" [(ngModel)]="loginData.password" autocomplete="username">

        <div class="inputImg vertical_centr">
          <img src="assets/imgs/password3.png" alt="" width="20px">
        </div>
      </div>
    </form>
    <div class="forgot" (click)="forgotpassword()">هل نسيت كلمة السر؟</div>
    <br>
    <br>
    <button ion-button class="signinBtn" (click)="home()">تسجيل الدخول</button>
    <br>
    <br>

    <!-- <ion-row>
      <ion-col><button ion-button class="googleBtn" (click)="login()">Google</button></ion-col>
      <ion-col><button ion-button class="fbBtn" (click)="login()">Facebook</button></ion-col>
    </ion-row> -->
    <br>
    <br>
    <div class="create" (click)="signup()">إضافة حساب جديد؟ &nbsp;<span class="spancreate">إضافة</span>
    </div>
  </div>
</ion-content>
