:host ::ng-deep {
    .monthview-container {
        height: auto !important;
    }
 
    .event-detail-container {
        display: none;
    }
}

.cal-modal {
    --height: 80%;
    --border-radius: 10px;
    padding: 25px;
}
