<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>قائمة</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list class="toprow">
          <ion-row menuClose>
            <ion-col size="3" class="vertical_centr">
              <ion-avatar item-start class="vertical_centr">
                <ion-icon name="person-circle-outline" class="font_50"></ion-icon>
              </ion-avatar>
            </ion-col>
            <ion-col size="9" (click)="login()">
              <h2 class="uname">الدخول & التسجيل</h2>
              <p class="email">الرجاء الدخول أو التسجيل </p>
            </ion-col>
          </ion-row>
        </ion-list>

        <ion-list class="list-menu">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-button slot="end" class="logoutBtn" (click)="login()">
          <ion-icon name="exit" slot="end"></ion-icon>
          Logout
        </ion-button>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
