<ion-header>
  <ion-toolbar>
    <ion-title slot="end">
      أرصدة العملاء
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button class="update">
        تحديث
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row >
      <ion-col size="12" class="array" style="background-color: rgb(186, 190, 194);">
        <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                    الصافي
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    التاريخ
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    رقم الفاتورة
                  </div>
                </ion-col>
              </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col >
        <ion-card size="12" class="array">
          <ion-card-title style="text-align: end; margin-right: 5px;">أحمد</ion-card-title>
          <ion-card-content>
              <ion-grid>
                    <ion-row>
                      <ion-col>
                        <div>
                          120
                        </div>
                      </ion-col>
                      <ion-col>
                        <div>
                          22/07/2020
                        </div>
                      </ion-col>
                      <ion-col>
                        <div>
                        7
                        </div>
                      </ion-col>
                    </ion-row>
              </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
  </ion-row>
</ion-content>
