<ion-header>
  <ion-toolbar>
    <ion-title> أرصدة العملاء </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="update"> تحديث </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="البحث" showCancelButton="focus"></ion-searchbar>
  <!-- <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-item>
          <ion-label>المخازن</ion-label>
          <ion-select
            [(ngModel)]="depot"
            okText="موافق"
            cancelText="إلغاء"
            (ionChange)="onSelectChange(depot)"
          >
            <ion-select-option
              *ngFor="let depot of depots"
              value="{{depot.id}}"
              (click)="onSelectChange(1)"
            >
              {{depot.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row> -->

  <ion-row>
    <ion-col size="4">
      <ion-button class="btn" color="light" expand="block" fill="outline"
        >عرض</ion-button
      >
    </ion-col>
    <ion-col size="4">
      <ion-checkbox
        color="danger"
        [(ngModel)]="isChecked"
        (change)="handleSelected($event)"
        style="margin-top: 0.8rem"
      ></ion-checkbox>
      <ion-label>الأرصدة الدائنة</ion-label>
    </ion-col>
    <ion-col size="4">
      <ion-checkbox
        color="success"
        style="margin-top: 0.8rem"
      ></ion-checkbox>
      <ion-label>الأرصدة المدينة</ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col
      size="12"
      class="array"
      style="background-color: rgb(204, 200, 200); width: min-content"
    >
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>دائن</div>
          </ion-col>
          <ion-col>
            <div>مدين</div>
          </ion-col>
          <ion-col>
            <div>العميل</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>

    <ion-col size="12" class="array">
      <ion-grid *ngFor="let client of clients">
        <ion-row (click)="showDetail(client.id)">
          <ion-col >
            <div style="color: green" *ngIf="client.status == 'da2en'">
              {{client.credit}}
            </div>
            <div style="color: green" *ngIf="client.status == 'madin'">-</div>
          </ion-col>
          <ion-col>
            <div style="color: red" *ngIf="client.status == 'madin'">
              {{client.credit}}
            </div>
            <div style="color: red" *ngIf="client.status == 'da2en'">-</div>
          </ion-col>
          <ion-col>
            <div class="name">{{client.clientName}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-content>
