<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Terms and condition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padd10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae eveniet aperiam maiores
    tenetur.
    Perspiciatis culpa eveniet illum non ipsa praesentium voluptate velit minima nesciunt temporibus, corporis quae
    accusamus odio dolorum!</div>
  <div class="padd10">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni rerum dolores possimus optio autem fugit unde
    quisquam maiores at sapiente veritatis cum, debitis aliquid modi necessitatibus a, voluptatum ut cumque!
    Omnis facere, libero illum fuga inventore ad error. Enim, illum quia sapiente reprehenderit adipisci itaque delectus
    repellendus porro sed incidunt! Harum a commodi nulla tempora delectus. Neque iusto perspiciatis dolorem.
    Ex, veniam iste voluptatem nam quas minus temporibus, blanditiis sit, soluta dignissimos obcaecati accusantium rerum
    explicabo repellendus omnis. Alias nisi labore dignissimos cumque optio! Modi hic numquam doloremque quas minus!
    Illo pariatur doloribus enim beatae ea, ipsa quidem, atque modi voluptatum tenetur, vel rem animi ab! Nulla numquam
    repudiandae ut voluptatibus eius reiciendis facilis nisi, in esse dolorem provident quos.
    Suscipit voluptate tempora quia magni architecto, modi ipsam aspernatur officia! Temporibus, facilis ipsum
    reiciendis quae dicta animi accusamus commodi quidem ipsam qui ad voluptates illo error consequuntur placeat
    voluptate inventore?
  </div>

</ion-content>