<ion-header translucent="true">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content fullscreen="true">
  <div class="medialogin">
    <br/>
    <br>
    <img src="assets/imgs/login.png" class="logoImg" alt="">
    <div style="position: relative">
      <div class="inputImg vertical_centr">
        <img src="assets/imgs/user2.png" alt="" width="20px">
      </div>
      <input type="text" placeholder="إسم المستخدم" class="valueInput" [(ngModel)]="signupData.username">
    </div>

    <div style="position: relative">
      <div class="inputImg vertical_centr">
        <img src="assets/imgs/email1.png" alt="" width="20px">
      </div>
      <input type="text" placeholder="البريد الالكتروني" class="valueInput" [(ngModel)]="signupData.email">
    </div>

    <div style="position: relative">
      <div class="inputImg vertical_centr">
        <img src="assets/imgs/phone3.png" alt="" width="20px">
      </div>
      <input type="text" placeholder="الهاتف" class="valueInput" [(ngModel)]="signupData.phone">
    </div>


    <div style="position: relative">
      <div class="inputImg vertical_centr">
        <img src="assets/imgs/password3.png" alt="" width="20px">
      </div>
      <input type="text" placeholder="كلمة المرور" class="valueInput" [(ngModel)]="signupData.password">
    </div>

    <div style="position: relative">
      <div class="inputImg vertical_centr">
        <img src="assets/imgs/password3.png" alt="" width="20px">
      </div>
      <input type="password" placeholder="كلمة المرور" class="valueInput" [(ngModel)]="signupData.confirmpassword">
    </div>
    <br>
    <ion-radio-group [(ngModel)]="signupData.type">

    </ion-radio-group>
    <br>
    <button ion-button class="signinBtn" (click)="login()">تسجيل</button>
    <br>
    <br>
    <div class="create" (click)="login()">لدي حساب مسبقاً ؟ &nbsp;<span class="spancreate">دخول</span>
    </div>
  </div>
</ion-content>