ion-content {
  --ion-background-color: #f6f6f6;
}
.sliderimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 200px;
}
ion-slides {
  display: block;
  width: 100%;
  height: 200px;
}

.catimg {
  height: 30px;
  width: 30px;
}
.mainRow {
  width: 90%;
  margin: auto;
  background-color: #fff;
  height: 55px;
  border-radius: 3px;
  margin-top: 10px;
}
