<ion-header class="home-header">
  <!--ion-toolbar--  class="home-toolbar">
    <ion-title>الرئيسية </ion-title>
    <ion-buttons slot="end">
      <ion-button expand="block" fill="clear" (click)="notification()">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </!--ion-toolbar-->
  <ion-row>
    <ion-col size="3"> <img src="assets/icon/home.svg" alt="" class="home-button"> </ion-col>
    <ion-col size="6"> <img src="assets/icon/user.svg" alt="" class="user-profile">
    <p class="profile-info"> Radhouen Assakra</p>
    <p class="profile-info"> Microsoft </p>

     </ion-col>
    <ion-col size="3"> <img src="assets/icon/notification.svg" alt="" class="user-notification">
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-searchbar class="search-input" placeholder="البحث " [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <div cards>
    <div class="grid-full">
      <ion-row>
        <ion-col size="6" >
          <ion-card [routerLink] = "['/planning']">
            <div class="imag-container customer-container"> <img src="assets/icon/customer.svg" alt="" class="catimg"> </div>
            <h6 class="center margin_t_15"> {{ 'HOME_PAGE.customer_title' | translate }}  </h6>
            <h6 class="center margin_t_15"> {{ 'HOME_PAGE.customer_subtitle' | translate }} </h6>
          </ion-card>
        </ion-col>
        <ion-col size="6" >
          <ion-card [routerLink] = "['/trajet']">
            <div class="imag-container store-container"> <img src="assets/icon/store.svg" alt="" class="catimg"> </div>
            <h6 class="center margin_t_15"> {{ 'HOME_PAGE.store_title' | translate }}  </h6>
            <h6 class="center margin_t_15"> {{ 'HOME_PAGE.store_subtitle' | translate }} </h6>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card [routerLink] = "['/paiement']">
           <div class="imag-container expense-container"> <img src="assets/icon/expense.svg" alt="" class="catimg"> </div>
            <h6 class="center margin_t_15"> {{ 'HOME_PAGE.expenses_title' | translate }}  </h6>
            <h6 class="center margin_t_15"> {{ 'HOME_PAGE.expenses_subtitle' | translate }} </h6>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card [routerLink] = "['/infraction']">
            <div class="imag-container treasury-container"> <img src="assets/icon/treasury.svg" alt="" class="catimg"> </div>
            <h6 class="center margin_t_15"> {{ 'HOME_PAGE.treasury_title' | translate }}  </h6>
            <h6 class="center margin_t_15"> {{ 'HOME_PAGE.treasury_subtitle' | translate }} </h6>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card [routerLink] = "['/sinistre']">
            <div class="imag-container purchase-container"> <img src="assets/icon/purchase.svg" alt="" class="catimg"> </div>
            <h6 class="center margin_t_15"> {{ 'HOME_PAGE.purchases_title' | translate }}  </h6>
            <h6 class="center margin_t_15"> {{ 'HOME_PAGE.purchases_subtitle' | translate }} </h6>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card [routerLink] = "['/kilometrage']">
            <div class="imag-container sales-container"> <img src="assets/icon/sales.svg" alt="" class="catimg"> </div>
            <h6 class="center margin_t_15"> {{ 'HOME_PAGE.sales_title' | translate }}  </h6>
            <h6 class="center margin_t_15"> {{ 'HOME_PAGE.sales_subtitle' | translate }} </h6>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
