.sliderimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 200px;
}
ion-slides {
  display: block;
  width: 100%;
  height: 200px;
}
.grid-full ion-col {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 5px 0;
}
.row {
  padding: 0;
}
.col {
  padding: 5px 0;
}
ion-card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 0px;
  padding: 10px;
}
.catimg {
  margin: auto;
  display: table;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
h6 {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0px;
}
