<ion-header>
  <ion-toolbar>
    <ion-title>الرئيسية </ion-title>
    <ion-buttons slot="end">
      <ion-button expand="block" fill="clear" (click)="notification()">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="البحث " [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <div cards>
    <div class="grid-full">
      <ion-row>
        <ion-col size="6" >
          <ion-card [routerLink] = "['/planning']">
            <img src="assets/imgs/stock.png" alt="" class="catimg">
            <h6 class="center margin_t_15">متابعة المخزون </h6>
          </ion-card>
        </ion-col>
        <ion-col size="6" >
          <ion-card [routerLink] = "['/trajet']">
            <img src="assets/imgs/writer.jpg" alt="" class="catimg">
            <h6 class="center margin_t_15">حركة صنف </h6>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card [routerLink] = "['/paiement']">
            <img src="assets/imgs/vente.jpg" alt="" class="catimg">
            <h6 class="center margin_t_15">حركة مبيعات </h6>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card [routerLink] = "['/infraction']">
            <img src="assets/imgs/compte.jpg" alt="" class="catimg">
            <h6 class="center margin_t_15">أرصدة العملاء </h6>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card [routerLink] = "['/sinistre']">
            <img src="assets/imgs/coffre.jpg" alt="" class="catimg">
            <h6 class="center margin_t_15">حركة خزينة </h6>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card [routerLink] = "['/kilometrage']">
            <img src="assets/imgs/bank.jpg" alt="" class="catimg">
            <h6 class="center margin_t_15">أرصدة المصارف </h6>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
