ion-content {
  --ion-background-color: #f6f6f6;
}
.sliderimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 200px;
}
ion-slides {
  display: block;
  width: 100%;
  height: 200px;
}
.catimg {
  height: 30px;
  width: 30px;
}
.mainRow {
  width: 90%;
  margin: auto;
  background-color: #fff;
  min-height: 60px;
  border-radius: 3px;
  margin-top: 10px;
  max-height: 1000px;
  padding: 10px 0px;
}
.notDisplay {
  display: none;
  width: 90%;
  margin: auto;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
}
.dbtn {
  height: 25px;
  width: 90px;
}
table,
th,
td {
  border: 1px solid rgb(148, 148, 148);
  padding: 5px;
  position: relative;
}

.tablearrange {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  font-weight: 500;
}
.firstcall {
  width: 10%;
  text-align: center;
}
.direction {
  color: #fff;
  text-transform: capitalize;
}
.pw_star {
  color: #ed576b;
  margin: auto;
  display: table;
  ion-icon {
    color: #ed576b;
    font-size: 30px;
  }
}

.btn {
  width: 90%;
  margin: auto;
  display: table;
  color: #fff;
}

.text-info {
  position: relative;
  margin: auto;
}

.text-info h3 {
  text-align: center;
}

ion-searchbar {
  text-align: right;
}

.search {
width: 100%;
height: 50px;
left: 28px;
top: 337px;
color: #FFF;
background: #CCCED3;
box-shadow: 0px 9px 18px rgba(170, 104, 210, 0.04);
border-radius: 8px;
font-family: Swissra-Bold;
font-size: 20px;
line-height: 19px;
}

ion-button:hover {
  background-color: blue;
  color: white;
}
.store-content {
  --ion-background-color: #FAFAFA;
}
.filters-button{
  width: 90%;
  font-size: 15px;
  background: #FFFFFF;
  box-shadow: 0px 0.728155px 3.64078px rgb(18 34 97 / 10%);
  --ion-color-base: #fff !important;
  border-radius: 5.82524px;
}

.filter-input.search {
  background-color: #fff;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 8px;
  height: 43px;
}

.page-title{
  font-family: Swissra-Bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.filter-img {
  padding-top: 15%;
}


.filter-input.searchbar-input-container.searchbar-input {
  font-family: Swissra-Light;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #585858;
  background-color: #ffffff !important;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 8px;
}

.product-row {
  background: #FFFFFF;
    box-shadow: 0px 1px 5px rgb(18 34 97 / 10%);
    border-radius: 8px;
    /* width: 356px; */
    height: 60px;
    left: calc(50% - 343px/2);
    top: 0px;
    padding-top: 14px;
}


.store-list{
  background: #FFFFFF;
  box-shadow: 0px 0.728155px 3.64078px rgb(18 34 97 / 10%);
  border-radius: 5.82524px;
  height: 43px;
}

.store-array-header{

  background-color: #ffffff;
}

.filter-input {
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
}
ion-list {
  /* Applies to the value and placeholder color */
  background-color: #ffffff;
  color: #000000;
}

.top-content {
  background-color: #ffffff;
  padding-bottom: 15px;
}
.bottom-content {
  background-color: #FAFAFA;
  padding-top: 15px;
}
.btn {
  width: 100%;
  height: 50px;
  left: 28px;
  top: 337px;
  color: #000000;
  box-shadow: 0px 0.728155px 3.64078px rgba(18, 34, 97, 0.1);
  border-radius: 5.82524px;
}

.clicked-input,.clicked-output,.clicked-details,.clicked {
  color: #ffffff;
  background: #122261 ;
}
.notice {
  font-family: Swissra-Bold;
font-size: 16px;
line-height: 19px;
text-align: center;
color: rgba(18, 34, 97, 0.6);
}
.notactive{
  background: #FFFFFF ;

}
.no-data {
width: 120px;
height: 120px;
left: 127px;
top: 493px;
background: #EFF2FF;
border-radius: 25.1852px;
display: flex;
flex-direction: column;
margin-top: 10%;
margin-left: 30%;
margin-bottom: 10%;
}

.no-data-img {
  height: 60%;
  width: 60%;
  margin-top: 20%;
  margin-left: 20%;
}
