<ion-header>
  <ion-toolbar>
    <ion-title> أرصدة الخزائن  </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="update"> تحديث </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="البحث" showCancelButton="focus"></ion-searchbar>
  <!-- <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-item>
          <ion-label>المخازن</ion-label>
          <ion-select
            [(ngModel)]="depot.id"
            okText="موافق"
            cancelText="إلغاء"
            (ionChange)="onSelectChange(depot.id)"
          >
            <ion-select-option
              *ngFor="let depot of depots"
              value="{{depot.id}}"
              (click)="onSelectChange(1)"
            >
              {{depot.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row> -->

  <ion-row>
    <ion-col size="4">
      <ion-button class="btn" color="light" expand="block" fill="outline"
        >عرض</ion-button
      >
    </ion-col>
    <ion-col size="4">
      <ion-checkbox color="danger" style="margin-top: 0.8rem"></ion-checkbox>
      <ion-label>الأرصدة الدائنة</ion-label>
    </ion-col>
    <ion-col>
      <ion-checkbox
        size="4"
        color="success"
        style="margin-top: 0.8rem"
      ></ion-checkbox>
      <ion-label>الأرصدة المدينة</ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="array" style="background-color: rgb(204, 200, 200); width: min-content;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div> مصروف</div>
          </ion-col>
          <ion-col>
            <div>إيراد</div>
          </ion-col>
          <ion-col>
            <div>الخزينة</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>

    <ion-col size="12" class="array" >
      <ion-grid *ngFor="let treasury of treasuries" >
            <ion-row (click)="showDetail(treasury.id)">
              <ion-col>
                <div style="color: red;" *ngIf="treasury.status == false">
                  {{treasury.credit}}
                </div>
                <div style="color: red;" *ngIf="treasury.status == true">
                  -
                </div>
              </ion-col>
              <ion-col>
                <div style="color: green;" *ngIf="treasury.status == true">
                   {{treasury.credit}}
                </div>
                <div style="color: green;" *ngIf="treasury.status == false">
                 -
               </div>
              </ion-col>
              <ion-col>
                <div class="name">
                  {{treasury.type}}
                </div>
              </ion-col>
            </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-content>
