<ion-header>
  <ion-toolbar>
    <ion-title>offers</ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-col size="10" class="vertical_centrC">
      <!-- <ion-input placeholder="Enter Voucher Code"></ion-input> -->
      <ion-searchbar></ion-searchbar>
    </ion-col>
    <ion-col size="2" class="vertical_centr">
      <ion-icon name="funnel-outline" class="font_25"></ion-icon>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <img src="assets/imgs/o1.png" class="offerimg" alt="">
  <img src="assets/imgs/o2.png" class="offerimg" alt="">
  <img src="assets/imgs/o3.png" class="offerimg" alt="">
  <img src="assets/imgs/o4.png" class="offerimg" alt="">
  <img src="assets/imgs/o5.png" class="offerimg" alt="">
  <br>
</ion-content>