.offerimg{
    width: 90%;
    margin: auto;
    display: table;
    border-radius: 10px;
    margin-top: 15px;
    height: 200px;
    object-fit: cover;
    border: 1px solid rgba(153, 153, 153, 0.59);
}